
body{
	background-color: #FAFAFA !important;
	font-family: 'Roboto', sans-serif !important;
}

.containerTop{
	width: 100%;
	height: 30%;
	padding: 5%;
	font-size: 150%;
}

.containerMiddle{
	width: 100%;
	height: 60%;
	padding: 5%;
	font-size: 150%;
}

.containerBottom{
	width: 100%;
	height: 10%;
	padding: 5%;
}

.containerTextTask{
	padding: 5%;
}

.buttonDarkGrey{
	color: #FAFAFA !important;
	background-color: #2c2929 !important;
	border: 1px solid #2c2929;
	-webkit-transition: all 0.7s ease; /* Safari and Chrome */
	-moz-transition: all 0.7s ease; /* Firefox */
	-ms-transition: all 0.7s ease; /* IE 9 */
	-o-transition: all 0.7s ease; /* Opera */
	transition: all 0.7s ease;
}

.buttonDarkGrey:hover{
	color: #2c2929 !important;
	background-color: #FAFAFA !important;
	border: 1px solid #2c2929;
}

.textColorBlack{
	color: #000000;
}

.textColorDarkGrey{
	color: #2c2929;
}


.padding-top450 {
		padding-top:450px;

}
	
.padding-top150 {
		padding-top:150px;

}

.padding-top50 {
		padding-top:50px;

}
	
.centerHorizontal {
		text-align: center;
	}
	
.centerDivHorizontal{
		margin: 0 auto;
	}
	
.floatLeft{
		float: left;
}

.floatRight{
		float: right;

}

.spacer {
		height: 75px;
		width: 100%;
}

.spacerSmall{
		height: 10px;
		width: 100%;

}
		
.divider {
		height: 1px;
		width: 100%;
		background-color: #2c2929;
	}

.containerMainContent{
		margin: 0;
		width: 100%;
		height: 100%;
		padding-top: 10px;
		padding-bottom: 50px;		
}

.clear{
	clear: both;

}







	

